/*<-------------------------------------------------- FONT IMPORT ----------------------------------------------->*/

/* FONT NAME : POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* FONT NAME : ARVO */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* FONT NAME : BEBAS NEUE */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Russo+One&display=swap');

/* FONT NAME : ALEGREYA */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

/* FONT NAME: QUANTICO */
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* FONT NAME: COURIER PRIME */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* FONT NAME : Alegreya SC  */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&display=swap');

/* FONT NAME : ABEL */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    font-family: 'Abel',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background : url('../IMAGES/Login/Login-Bg.jpg')no-repeat;
    background-size: cover;
    background-position: center;
}

/*<---------------------------------------------------------- NAVBAR ------------------------------------------------->*/

.header {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 0.5rem 3.5rem;
    background: rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(1rem);
    border-bottom: 0.2rem solid rgba(255, 255, 255, .2);
  }
  
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
  }
  
  .header:hover::before {
    left: 100%;
  }
  
  .logo {
    position: sticky;
    left: 5.5rem;
    color: #fff;
    width: 7rem;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navbar a {
    color: #fff;
    font-family: 'Abel', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 3.5rem;
    transition: .3s;
  }
  
  .navbar a:hover {
    color: rgb(40, 157, 235);
  }
  
  /* <---------------------------------------------------- LOGIN -----------------------------------------------------> */

.login{
    width:420px;
    background:transparent;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    color:#fff;   
    border-radius:10px ;
    padding: 30px 40px ;
}

.login h1{
    font-family: 'Abel',sans-serif;
    font-size: 36px;
    text-align: center;
}

.login .input-box {
    font-family: 'Abel',sans-serif;
    position: relative;
    width: 100%;
    height: 50px;
    background:transparent;
    margin: 30px 0;
}

.input-box input {
    font-family: 'Abel',sans-serif;
    width:100%;
    height:100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color:#fff;
    padding: 20px 45px 20px 20px;
}

.input-box input ::placeholder {
    color:#fff;
}

.input-box i {
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    font-size:20px;
}

.login .remember-forgot {
    font-family: 'Abel',sans-serif;
    display:flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15x;
}

.remember-forgot label input {
    font-family: 'Abel',sans-serif;
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    font-family: 'Abel',sans-serif;
    color:#fff;
    text-decoration: none;

}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login .btn {
    font-family: 'Abel',sans-serif;
    width: 100%;
    height: 45px;
    background: fff;
    border: none;
    outline :none;
    border-radius:40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    cursor: pointer;
    font-size: 16px;
    color:#333;
    font-weight: 600;
}

.login .register {
    font-family: 'Abel',sans-serif;
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register p a {
    font-family: 'Abel',sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight:  600;
}

.register p a:hover {
    text-decoration:underline;
}