@media (max-width:1280px) and (min-width:750px){
    html{
        width: 81rem;
    }
    
    body {
        background: url(../IMAGES/Advert01.jpg);
        width: 81rem;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .header{
        right: 53.7rem;
        width: 60%;
        padding: 2px 0px;
    }
    .navbar a{
        font-size: 20px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #clock{
        font-size: 20px;
        width:100px;
    }
    
    .legacy-head{
        padding: 0px;
        font-size: 40px;
    }
}