/*<-------------------------------------------------- FONT IMPORT ----------------------------------------------->*/

/* FONT NAME : POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* FONT NAME : ARVO */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* FONT NAME : BEBAS NEUE */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Russo+One&display=swap');

/* FONT NAME : ALEGREYA */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

/* FONT NAME: QUANTICO */
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* FONT NAME: COURIER PRIME */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* FONT NAME : Alegreya SC  */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&display=swap');


* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

html{
  font-size: 62.5%;
}

body {
  font-family: "Bebas Neue", sans-serif;
  min-height: 100vh;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*<---------------------------------------------------------- NAVBAR ------------------------------------------------->*/

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 5px 35px;
  background: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
}

.header:hover::before {
  left: 100%;
}

.logo {
  position: sticky;
  left: 55px;
  color: #fff;
  width: 70px;
  text-decoration: none;
  cursor: pointer;
}

.navbar a {
  color: #fff;
  font-size: 28px;
  text-decoration: none;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover {
  color: rgb(40, 157, 235);
}

.intro-para {
    font-size: 20px;
    margin-left: 200px;
    width: 1000px;
    position: relative;
    top: 100px;
    font-family: 'Arvo',sans-serif;
    color: white;
}

.intro-para::first-letter{
    font-size: 45px;
    
}
.counter-container{
  left: 0.8rem;
  font-size: 2rem;
  top: 18rem;
  position: relative;
  width: 135rem;
  color: white;
}

.counter-row1{
  display: flex;
  justify-content: space-around;
}
.col-md-4 {
  text-align: center;
  padding: 5rem;
  border-right: 1px dashed white;
}

.col-md-4:last-child {
  border-right: 0px solid white;
}

/* .counter {
  animation-duration: 1s;
  animation-delay: 0s;
} */

i {
  font-size: 20px;
}

.counter {
  animation: countup 5s infinite alternate;
}

@keyframes countup {
  from {
    content: '0';
  }
  to {
    content: '2,523';
  }
}


