/*<-------------------------------------------------- FONT IMPORT ----------------------------------------------->*/

/* FONT NAME : POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* FONT NAME : ARVO */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* FONT NAME : BEBAS NEUE */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Russo+One&display=swap');

/* FONT NAME : ALEGREYA */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

/* FONT NAME: QUANTICO */
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* FONT NAME: COURIER PRIME */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* FONT NAME : ALEGREYA SC  */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&display=swap');

/* FONT NAME : ABEL */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: "Bebas Neue", sans-serif;
  height: 100%;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*<---------------------------------------------------------- NAVBAR ------------------------------------------------->*/

.header {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 5px 35px;
  background: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
}

.header:hover::before {
  left: 100%;
}

.logo {
  position: sticky;
  left: 55px;
  color: #fff;
  width: 70px;
  text-decoration: none;
  cursor: pointer;
}

.navbar a {
  color: #fff;
  font-size: 28px;
  text-decoration: none;
  margin-left: 35px;
  transition: .3s;
}

.navbar a:hover {
  color: black;
}

.sec01 {
  background: url(../IMAGES/Services/Servicesmain.jpg);
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60rem;
}

/*<------------------------------------------------- SLIDER --------------------------------------------------------->*/

#slider {
  color: white;
  left: 2rem;
  position: relative;
  top: 15rem;
  width: 71rem;
  display: flex;
  gap: 15px;
  font-size: 50px;
  align-items: center;
}

#sliderValue {
  display: flex;
  color: black;
  font-weight: 900;
  font-size: 10rem;
}

.start {
  opacity: 0;
}

.animation {
  animation: fade .3s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.holder-animation {
  animation: holder 4s;
}

@keyframes holder {
  0% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*<--------------------------------------------------------- COUNTER ----------------------=----------------------->*/

.counter-container {
  font-family: "Courier Prime", sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  justify-items: center;
  font-size: 2rem;
  color: white;
  width: 70rem;
  position: relative;
  right: 33rem;
  top: 24rem;
  max-height: 27rem;
  margin: auto;
}

.countercol h1 {
  font-family: "quantico", sans-serif;
  color: black;
}

.countercol {
  text-align: center;
  padding: 2rem;
  border-right: 1px dashed white;
}

i {
  font-size: 20px;
}

/*<------------------------------------------------------- SERVICES ---------------------------------------------->*/

.services {
  background: url(../IMAGES/Services/Servicesmain.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#service-head {
  font-family: "Quantico", sans-serif;
  background: transparent;
  display: inline-block;
  color: white;
  position: relative;
  bottom: 0rem;
  left: 28rem;
  width: 24rem;
  border-bottom: 2px solid white;
  text-align: center;
  font-size: 5rem;
}

#service-head::after {
  content: '';
  height: 2px;
  /* Adjust border thickness as needed */
  background: #ffffff;
  /* Adjust border color as needed */
  left: 50%;
  bottom: 0;
  width: 0;
  transition: width 0.3s ease, left 0.3s ease;
}

#service-head:hover::after {
  width: 100%;
  left: 0;
}

.service-intro {
  font-family: "Quantico", sans-serif;
  color: white;
  position: relative;
  bottom: 4rem;
  left: 3rem;
  padding: 3rem;
  text-align: center;
  width: 67rem;
  font-size: 2rem;
}

/*<----------------------------------------- PRICING TABLE --------------------------------------------------------->*/
.pricetablediv {
  position: relative;
  top: 0rem;
  background: url('../images/Services/Servicesecondary.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pricing-container {
  margin-left: 7rem;
  max-width: 1200px;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
}

.price-head {
  font-family: 'Abel', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 5.5em;
}

.card-container {
  font-family: 'Abel', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.card {
  display: grid;
  justify-content: start;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 calc(30% - 20px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.card h2 {
  margin-top: 10px;
  font-size: 3.5em;
}

.card p {
  font-size: 1.7rem;
}

.price {
  margin-top: 10px;
}

.price p {
  margin: 5px 0;
  font-size: 2em;
}

.price i {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .pricing-container {
    margin-left: 0;
  }

  .card-container {
    flex-direction: column;
  }

  .card {
    flex: 1 1 100%;
  }
}

/*<--------------------------------------------- FORM ENTRY ----------------------------------------------------------->*/

.formEntry {
  display: flex;
  color: white;
  background: url(../IMAGES/Services/Servicesecondary.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
}

.Userinfo {
  width: 50rem;
  left: 7rem;
  position: relative;
  margin-top: 7rem;
  border-right: 2px dashed white;
}

.Userinfo h3 {
  margin: 4rem 0rem;
  width: 39rem;
  position: relative;
  left: 5rem;
  font-family: 'Abel', sans-serif;
  font-size: 4rem;
}

.NAME,
.COMPANY,
.EMAIL,
.PHONE {
  color: black;
  display: flex;
  flex-direction: row;
  font-family: 'Abel';
  font-size: 2.5rem;
  position: relative;
  margin-top: 5rem;
  right: 3rem;
  align-items: center;
}

.NAME label,
.COMPANY label,
.EMAIL label,
.PHONE label {
  font-family: 'Abel', sans-serif;
  background: none;
  position: relative;
  left: 11rem;
  top: 1rem;
  font-size: 2rem;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
  transition: 0.3s;
}

input:focus {
  font-family: 'Abel', sans-serif;
  border: 2px solid white;
}

input:focus~label,
input:valid~label {
  top: -1rem;
  left: 10rem;
  padding: 0.5rem;
}

#NAMEid,
#COMPANYid,
#EMAILid,
#PHONEid {
  padding: 1rem;
  position: absolute;
  left: 7rem;
  cursor: pointer;
  text-transform: uppercase;
  width: 30rem;
  border: 2px solid #000;
  background: transparent;
  text-align: center;
  border-radius: 1rem;
  font-size: 2rem;
  color: white;
  outline: none;
}

/*<------------------------------------------------- LOCATION  ------------------------------------------------------->*/

.Location {
  font-family: 'Abel', sans-serif;
  width: 50rem;
  left: 7rem;
  position: relative;
  margin-top: 7rem;
}

.Location h3 {
  margin: 4rem 0rem;
  width: 39rem;
  position: relative;
  left: 5rem;
  font-family: 'Abel', sans-serif;
  font-size: 4rem;
}

.ADDRESSh6,
.LATh6,
.LONGh6 {
  font-family: 'Abel', sans-serif;
  color: black;
  display: flex;
  flex-direction: row;
  font-family: 'Abel';
  font-size: 2.5rem;
  position: relative;
  margin-top: 5rem;
  right: 3rem;
  align-items: center;
}

.ADDRESSh6 label,
.LATh6 label,
.LONGh6 label {
  font-family: 'Abel', sans-serif;
  background: none;
  position: relative;
  left: 11rem;
  top: 1rem;
  font-size: 2rem;
  transform: translateY(-50%);
  color: white;
  pointer-events: none;
  transition: top 0.3s, left 0.3s, padding 0.3s;
}

input:focus~label,
input:valid~label {
  top: -1rem;
  left: 10rem;
  padding: 0.5rem;
}

#ADDRESSid,
#LATid,
#LONGid {
  font-family: 'Abel', sans-serif;
  padding: 1rem;
  position: absolute;
  left: 7rem;
  cursor: pointer;
  text-transform: uppercase;
  width: 30rem;
  border: 2px solid #000;
  background: transparent;
  text-align: center;
  border-radius: 1rem;
  font-size: 2rem;
  color: white;
  outline: none;
}

#get-location {
  margin: 4rem 12rem;
  background-color: #333; /* Blackish background */
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, .5) 0 -25px 18px -14px inset, rgba(0, 0, 0, .25) 0 1px 2px, rgba(0, 0, 0, .25) 0 2px 4px, rgba(0, 0, 0, .25) 0 4px 8px, rgba(0, 0, 0, .25) 0 8px 16px, rgba(0, 0, 0, .25) 0 16px 32px; /* Blackish shades for shadow */
  color: white; /* White text color */
  cursor: pointer;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#get-location:hover {
  box-shadow: rgba(0, 0, 0, .7) 0 -25px 18px -14px inset, rgba(0, 0, 0, .45) 0 1px 2px, rgba(0, 0, 0, .45) 0 2px 4px, rgba(0, 0, 0, .45) 0 4px 8px, rgba(0, 0, 0, .45) 0 8px 16px, rgba(0, 0, 0, .45) 0 16px 32px; /* Darker blackish shades for shadow on hover */
  transform: scale(1.05) rotate(-1deg);
}
.LATh6 label.moved,
.LONGh6 label.moved {
  top: -1rem;
  left: 10rem;
  padding: 0.5rem;
}

/*<------------------------------------------------ FORM EXIT  ---------------------------------------------------------->*/
.formExit{
  display: flex;
  color: white;
  background: url(../IMAGES/Services/Servicesecondary.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
}

/*<------------------------------------------------ FOOTER -------------------------------------------------------------->*/

footer {
  z-index: 0;
  width: 100%;
  position: absolute;
  top: 413.5rem;
  background: url(../IMAGES/Services/Servicesecondary.jpg);
  color: #fff;
  padding: 10rem 0 3rem;
  font-size: 1.3rem;
  line-height: 2rem;
}

.footer-row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col {
  font-family: 'Poppins', sans-serif;
  flex-basis: 25%;
  padding: 1rem;
}

.footer-col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.footer-col ul:hover {
  color: rgb(40, 157, 235);
}

#footer-logo {
  margin-bottom: 3rem;
}

.footer-col h3 {
  width: fit-content;
  margin-bottom: 4rem;
  position: relative;
}

.footer-email-id {
  width: fit-content;
  margin: 2rem 0;

}

ul li {
  list-style: none;
  margin-bottom: 1.2rem;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-form {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5rem;
}

.footer-form .bx {
  font-size: 1rem;
  margin-right: 1rem;
}

.footer-form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.footer-form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.footer-form button .bx {
  font-size: 1.6rem;
  color: #ffffff;
}

.social-icons .bx {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  color: #000;
  background: #fff;
  margin-right: 1.5rem;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 2rem auto;
}

.copyright {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.footer-underline {
  width: 100%;
  height: 0.1rem;
  background: #767676;
  border-radius: 0.3rem;
  position: absolute;
  top: 2.5rem;
  left: 0;
}

.footer-underline span {
  height: 100%;
  background: #fff;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  left: 1rem;
}