/*<-------------------------------------------------- FONT IMPORT ----------------------------------------------->*/

/* FONT NAME : POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* FONT NAME : ARVO */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* FONT NAME : BEBAS NEUE */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Russo+One&display=swap');

/* FONT NAME : ALEGREYA */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

/* FONT NAME: QUANTICO */
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* FONT NAME: COURIER PRIME */
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* FONT NAME : Alegreya SC  */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@700&display=swap');

/* FONT NAME : ABEL */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body,
html {
  font-size: 65.7%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  font-family: "Abel", sans-serif;
  background-size: cover;
  background-position: center;
}

/*<---------------------------------------------------------- NAVBAR ------------------------------------------------->*/

.header {
  font-family: "Bebas Neue", sans-serif;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0.5rem 3.5rem;
  background: rgba(255, 255, 255, .1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(1rem);
  border-bottom: 0.2rem solid rgba(255, 255, 255, .2);
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
  transition: .5s;
}

.header::before:hover::before {
  left: 100%;
}

.logo {
  position: sticky;
  left: 5.5rem;
  color: #fff;
  width: 7rem;
  text-decoration: none;
  cursor: pointer;
}

.navbar a {
  color: #fff;
  font-size: 28px;
  text-decoration: none;
  margin-left: 3.5rem;
  transition: .3s;
}

.navbar a:hover {
  color: grey;
}

.Title {
  z-index: 1;
  position: relative;
  bottom: 11rem;
  width: 75rem;
  left: 40rem;
  font-weight: 700;
}

.Sub-Title {
  z-index: 1;
  width: 70rem;
  left: 55rem;
  position: relative;
  top: 20rem;
  font-weight: 700;
  color: maroon;
}

/*<---------------------------------------- SLIDE --------------------------------------------------------------------->*/
.slide-in {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.slide-in.show {
  opacity: 1;
  transform: translateX(0);
}

.slide-section {
  background: url(../../IMAGES/Article03.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*<----------------------------------------------- WHITE SECTION ------------------------------------------------------->*/
.second-section {
  display: flex;
  background: url(https://www.thearmorylife.com/wp-content/uploads/2020/03/article-weapon-zero-what-you-need-to-know-3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40rem;
  width: 100%;
}

.second-section::before {
  content: "";
  background: url('https://www.thearmorylife.com/wp-content/uploads/2020/03/article-weapon-zero-what-you-need-to-know-3.jpg') center / cover no-repeat fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40rem;
  filter: blur(5px);
  opacity: 0.6;
  z-index: -1;
}

.upto {
  width: 70%;
  font-family: 'Bebas Nueu';
  position: relative;
  top: 12.6rem;
  left: 2rem;
  font-size: 4rem;
  font-weight: 500;
}

.second-section h2 {
  width: 70%;
  font-family: 'Bebas Nueu';
  font-weight: 500;
  position: relative;
  top: 5rem;
  left: 12rem;
  font-size: 4rem;
}

.second-section h3 {
  font-weight: 700;
  color: red;
  font-size: 9rem;
  position: relative;
  top: 9rem;
  left: 5rem;
  display: inline-block;
}

.List h1 {
  width: 48rem;
  color: White;
  position: relative;
  left: 64rem;
  margin-bottom: 1.5rem;
  top: 7rem;
  font-size: 5rem;
  font-weight: 700;
}

.List li h1 {
  font-weight: 500;
  color: white;
  display: flex;
  width: 23rem;
  position: relative;
  top: 5rem;
  margin-bottom: 0.5rem;
  left: 69rem;
  font-size: 3rem;
  justify-content: flex-end;
}

/*<---------------------------------------------- PRODUCTS ----------------------------------------------------------->*/
.Product-head01
{
  font-size: 6rem;
  border-bottom: 2px solid rgb(131, 29, 29);
  width: fit-content;
  position: relative;
  left: 55rem;
}
.Product-head{
  font-size: 4rem;
  border-bottom: 2px solid rgb(131, 29, 29);
  width: fit-content;
  position: relative;
  left: 55rem;
}


a,
a:hover {
  text-decoration: none;
  color: inherit;
}

.section-products {
  padding: 80px 0 54px;
}

.section-products .header {
  margin-bottom: 50px;
}

.section-products .header h3 {
  font-size: 1rem;
  color: #fe302f;
  font-weight: 500;
}

.section-products .header h2 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #444444;
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  border: 1px solid rgb(131, 29, 29);
  border-radius: 20%;
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
  transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
  background: url("https://p.turbosquid.com/ts-thumb/5a/Rj6fWr/KE/grenadethumb/png/1690438446/300x300/sharp_fit_q85/0272cd32996cf51e19cf0e81813ea809357c337d/grenadethumb.jpg") no-repeat center;
  background-size:cover;
  transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
  background: url("https://i.pinimg.com/564x/a3/31/0b/a3310b6bdfc9fb2f3bb6b1d4760f68a7.jpg") no-repeat center;
  background-size:contain;
}

.section-products #product-3 .part-1::before {
  background: url("https://p.turbosquid.com/ts-thumb/A1/2FgSPM/EZpJZQwU/m84stungrenadeoldc4dmodel000/jpg/1599832276/300x300/sharp_fit_q85/fb34ef7b330ba403eea7a16d49ed32004cd5c8b6/m84stungrenadeoldc4dmodel000.jpg") no-repeat center;
  background-size:cover;
}

.section-products #product-4 .part-1::before {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5PVGNiGJe0Ag5oet605AhHOnF3LD71Hc8gMeNWLnJzZH7P1XmaQJ5pPFOE-WI15LmduQ&usqp=CAU") no-repeat center;
  background-size:auto;
}

.section-products #product-5 .part-1::before {
  background: url("https://i.pinimg.com/564x/dc/5b/5c/dc5b5c10c5e1d8322f7cdc13323c18c7.jpg") no-repeat center;
  background-size:contain;
}

.section-products #product-6 .part-1::before {
  background: url("https://i.pinimg.com/564x/0e/15/0d/0e150df8411a42e9b56f2a35575f3ac2.jpg") no-repeat center;
  background-size:cover;
}

.section-products #product-7 .part-1::before {
  background: url("https://i.pinimg.com/564x/41/a6/88/41a688e9e65d130c4293ab582b49bedc.jpg") no-repeat center;
  background-size:contain;
}

.section-products #product-8 .part-1::before {
  background: url("https://i.pinimg.com/564x/2b/12/2c/2b122c60d3a58536759ca8cbd67591a7.jpg") no-repeat center;
  background-size:contain;
}

.section-products #product-9 .part-1::before {
  background: url("https://i.pinimg.com/564x/73/45/d2/7345d2e613c3f0e52b927ad7fbeec7c4.jpg") no-repeat center;
  background-size:contain;
}

.section-products #product-10 .part-1::before {
  background: url("https://i.pinimg.com/564x/16/31/8a/16318aafc9a4e3aa2fdbdd73ff37f840.jpg") no-repeat center;
  background-size:contain;
}

.section-products #product-11 .part-1::before {
  background: url("https://i.pinimg.com/564x/f2/d5/69/f2d569e5adbfe23f8bfe1d407f0b2480.jpg") no-repeat center;
  background-size:contain;
}

.section-products #product-12 .part-1::before {
  background: url("https://i.pinimg.com/736x/ec/f0/ac/ecf0ac1bbb80463836e1aba0e8136131.jpg") no-repeat center;
  background-size:contain;
}

.section-products #product-13 .part-1::before {
  background: url("https://i.pinimg.com/564x/28/a4/99/28a499ce4e83ac876680a8801c16426d.jpg") no-repeat center;
  background-size:cover;
}
.section-products #product-14 .part-1::before {
  background: url("https://i.pinimg.com/564x/c0/61/e5/c061e5062a53a5bb8bd24c5e39949f67.jpg") no-repeat center;
  background-size:contain;
}

.section-products #product-15 .part-1::before {
  background: url("https://i.pinimg.com/564x/53/8d/79/538d7985aa0f78a54626fa8136047e0c.jpg") no-repeat center;
  background-size:contain;
}

.section-products #product-16 .part-1::before {
  background: url("https://i.pinimg.com/564x/e7/78/34/e7783418e4d0847350c1ca0f43fc1562.jpg") no-repeat center;
  background-size:cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 2px;
  color: #ffffff;
  background-color: rgb(131, 29, 29);
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.section-products .single-product .part-1 .new {
  left: 0;
  background-color: rgb(131, 29, 29);
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: #444444;
  text-align: center;
  box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
  transition: color 0.2s;
  font-size: 1.2rem;
}

.section-products .single-product .part-1 ul li a:hover {
  color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
  font-size: 2.5rem;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1.5rem;
}

.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444444;
  transform: translateY(-50%);
}

.bg-golden {
  background-color: rgb(131, 29, 29) !important;
}
/*<----------------------------------------------------- FOOTER -------------------------------------------------------> */

footer {
  font-family: 'Abel', sans-serif;
  z-index: 0;
  width: 100%;
  background: linear-gradient(to right, #111111, #797979);
  color: #fff;
  padding: 10rem 0 3rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.footer-row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col {
  font-family: 'Poppins', sans-serif;
  flex-basis: 25%;
  padding: 1rem;
}

.footer-col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.footer-col ul:hover {
  color: rgb(40, 157, 235);
}

#footer-logo {
  margin-bottom: 3rem;
}

.footer-col h3 {
  width: max-content;
  margin-bottom: 4rem;
  position: relative;
}

.footer-email-id {
  width: fit-content;
  margin: 2rem 0;

}

ul li {
  list-style: none;
  margin-bottom: 1.2rem;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-form {
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5rem;
}

.footer-form .bx {
  font-size: 1rem;
  margin-right: 1rem;
}

.footer-form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

.footer-form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.footer-form button .bx {
  font-size: 1.6rem;
  color: #ffffff;
}

.social-icons .bx {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  font-size: 2rem;
  color: #000;
  background: #fff;
  margin-right: 1.5rem;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 2rem auto;
}

.copyright {
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.footer-underline {
  width: 100%;
  height: 0.1rem;
  background: #767676;
  border-radius: 0.3rem;
  position: absolute;
  top: 2.5rem;
  left: 0;
}

.footer-underline span {
  height: 100%;
  background: #fff;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  left: 1rem;
}